
<div class="index">
<h1>Documentarians: </h1>

<h2>Create new <%= link_to"(+)", new_doc_path %> </h2>

  <% @docs.each do |doc| %>
  <h2><%= link_to doc.name, doc %></h2>
  <% if current_doc && current_doc.admin? %>
    | <%= link_to "delete", doc, method: :delete,
                                  data: { confirm: "Delete this user?" } %>
  <% end %>
  <% end %>
</div>
