/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Josefin Slab', serif;
  color: #FAFAFA;
  background: #978286;

}
img {
  border-radius: 40px;
  height: 300px;

}

a {
  text-decoration: none;
  color: #FAFAFA;
}

a :visited {
  color: #FAFAFA;
}

.static {
  /*background-image: url('wood_pattern_@2X.png');*/
  background-color: #829793;
  border: 2px black solid;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.static h3{
  text-align: right;

}

.show {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  border: 2px black solid;
  padding-bottom: 10px;
  margin-top: 5px;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-flow: column wrap;
}

.hero {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-right: 10%;

}

.project {
  font-family: 'Amatic SC', cursive;
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
}
