<!DOCTYPE html>
<html>
  <head>
    <title>Storydoc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <div class="static">
      <h1>StoryDoc <% link_to root_path %></h1>
      <h3>Home for Documentarians and their Stories.</h3>



    </div>
    <%= yield %>
  </body>
</html>
